#jpb_vscbuttons, #jpb_vscbutton {
	position:absolute;
	z-index:999998;
	padding:2px;
	display:none;
}

#jpb_vscbuttons img, #jpb_vscbutton img {
	background-color : #eee;
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 2px;
	padding: 2px;
}

#jpb_vscbuttons img:hover, #jpb_vscbutton img:hover {
	background-color: #ccc;
	border-color: #555;
}
